@use "./vars.scss";

html,
body,
#root {
  scroll-behavior: smooth;
  font-family: var(--font-primary);
  height: 100%;
  min-height: 100%;
  color: var(--text-dark);
}

h2 {
  font-family: var(--font-accent);
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  user-select: none;
}

button:focus-visible,
a:focus-visible {
  outline: 2px solid var(--color-primary-dark);
}

button:focus:not(:focus-visible),
a:focus:not(:focus-visible) {
  outline: none;
}