@use "./fonts.scss";

:root {
  /*fonts*/
  --font-primary: "Nunito", sans-serif;
  --font-primary-bold: "Nunito", sans-serif;
  --font-accent: "Corinthia", "Brush Script MT", cursive;

  /*colors*/
  --color-primary: #7d7f72;
  --color-primary-light: #f2f3f1;

  --color-secondary: #825b5c;
  --color-secondary-light: #a37d7e;
  --color-secondary-dark: #412724;

  --color-text-dark: #4E3535;


}